<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12 border rounded hidden only:block">
  <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">You don't have any quotes yet!</p>

  <%=
    link_to "Add Quote",
    new_quote_path,
    class: "inline-flex items-center rounded-md bg-indigo-600 px-3" \
        " hover:cursor-pointer" \
        " py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline" \
        " focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600",
    data: { turbo_frame: dom_id(Quote.new) } %>
</div>
