<main class="w-full pr-1 pl-1 mx-auto">
  <div class="flex flex-wrap gap-3 justify-between mt-3 mb-4">
    <h1 class="text-4xl">Quotes</h1>
    <%= link_to "New quote", new_quote_path, 
      class: "inline-flex items-center rounded-md bg-indigo-600 px-3" \
        " hover:cursor-pointer" \
        " py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline" \
        " focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600",
        data: { turbo_frame: dom_id(Quote.new) }
    %>
  </div>

  <%= turbo_frame_tag Quote.new %>
  <%= render quotes %>
</main>
