<main class="w-full pr-1 pl-1 mx-auto bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl">Quote editor</h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">A blazing fast quote editor built with Hotwire</p>

    <% if user_signed_in? %>
      <%= link_to "View quotes", quotes_path, class: "inline-flex items-center rounded-lg bg-indigo-600 px-3" \
          " hover:cursor-pointer" \
          " py-2 text-base font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline" \
          " focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "inline-flex items-center rounded-lg bg-indigo-600 px-3" \
          " hover:cursor-pointer" \
          " py-2 text-base font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline" \
          " focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <% end %>
  </div>
</main>
